<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task 3</title>
    <style>
      img {
        width: 100%;
      }
    </style>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
  </head>
  <body>
    <div id="app">
      <button v-if="!isLoaded && !isLoading" @click="startLoading()">
        Start Loading
      </button>
      <div v-if="isLoading">Loading Image...</div>
      <template v-else>
        <img v-show="isLoaded" ref="img" />
      </template>
    </div>

    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            isLoading: false,
            isLoaded: false,
            imgSrc: null,
          };
        },
        mounted() {},
        watch: {
          imgSrc() {
            if (this.$refs.img && this.imgSrc) {
              this.$refs.img.src = this.imgSrc;
            }
          },
        },
        methods: {
          loadData() {
            return Promise((resolve, reject) => {
              try {
                for (let i = 1; i < 1e9; ++i) {
                  //Dummy load;
                  const a = 1;
                }
                resolve("ok");
              } catch (err) {
                reject(err);
              }
            });
          },
          startLoading() {
            this.isLoading = true;

            this.loadData()
              .then((resolve) => {
                this.isLoaded = true;
                this.imgSrc =
                  "https://images.all-free-download.com/images/graphicthumb/beautiful_scenery_04_hd_pictures_166258.jpg";
              })
              .catch((err) => {
                this.isLoaded = false;
                console.error(err);
              })
              .finally(() => {
                this.isLoading = false;
              });
          },
        },
      });
    </script>
  </body>
</html>
