<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task 1</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
      <pre>
        File name: {{ file.name }}
        Watch fired: {{ watchFired ? 'YES': 'NO'}}
        </pre
      >
    </div>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          file: {
            id: "",
            name: "",
          },
          watchFired: false,
        },
        watch: {
          file: {
            deep: true,
            handler(val) {
              this.watchFired = true;
            },
          },
        },
      });

      vm.file.name = "file.txt";
    </script>
  </body>
</html>
