<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task 2</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
  </head>
  <body>
    <div id="app">
      Files sorted by popularity: <br />
      <files-list></files-list>
    </div>

    <script>
      Vue.use(Vuex);

      const store = new Vuex.Store({
        state: {
          files: [
            { id: 1, name: "file1", popularity: 20 },
            { id: 2, name: "file2", popularity: 30 },
            { id: 3, name: "file3", popularity: 40 },
            { id: 4, name: "file4", popularity: 10 },
          ],
        },
        getters: {
          filesByPopularity: (state) => {
            return state.files.sort((a, b) => b.popularity - a.popularity);
          },
        },
      });

      Vue.component("files-list", {
        template: `<ul>
            <li v-for="file in filesByPopularity" :key="file.id">
              {{ fileInfo(file) }}
            </li>
          </ul>`,
        computed: {
          ...Vuex.mapGetters(["filesByPopularity"]),
        },
        methods: {
          fileInfo(file) {
            return `${file.name} (${file.popularity})`;
          },
        },
      });

      new Vue({
        store,
        el: "#app",
      });
    </script>
  </body>
</html>
